nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #272932;
    display: flex;
    align-items: center;
  }
  .logo {
    padding-left: 20px;
  }
  .art-portal {
    flex: 1;
  }
  
  .art-portal a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    padding-left: 30px;
  }
  
  button {
    background-color: transparent;
    border: none;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 110px;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #0F7173;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:focus {
    outline: none;
  }
  
  .nav-button a {
    color: #E7ECEF;
    text-decoration: none;
  }
  
  
  @media (max-width: 768px) {
    nav {
      flex-wrap: wrap;
      padding: 10px;
    }
  
    div {
      flex-basis: 100%;
      text-align: left;
      margin-bottom: 10px;
    }
  
    button {
      margin: 0;
      width: auto;
    }
  }
  